/* Space out content a bit */
* { margin:0; padding:0; }

body {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 5px;    
    color: #404040;
    font: 14px/1.55 'Telex', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;  
    border-top: 6px solid #BCA474;
    border-bottom: 6px solid #BCA474;
    background: url(/img/background.jpg) repeat scroll 0 0 #F2F2F2;
    overflow-x: hidden;
}

/* Header =================================================================== */

.header {
    float:left;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 30px;
}

#logo {
    clear: both;
    float: left;
    height: 140px;
    margin: 24px 0;
    position: relative;
}

#logo li.head-container {
    /*margin-top: 14px;*/
    height: 70px;
    padding-top: 10px;
    text-align: center;
}

#logo > li {
    display: inline;
    float: left;
    width: 310px;
    text-align: center;
}

.header h2.classy {
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    font-weight: normal;
    padding: 0 12px;
    font-size: 13px;
    color: #777;
}

.header h2.title {
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    font-weight: normal;
    padding: 0 12px;
    font-size: 30px;
    color: #777;
}

.logo-box {
    border-left: 1px solid #bababa;
    border-right: 1px solid #bababa;
    height: 140px;
    margin: 0;
    padding: 0px 0 10px;
    width: 200px;
}

.bar_top {
    /*margin: 32px 0 0;*/
    text-align: left;
}

.bar_bottom {
    margin: 14px 0 0;
    border-top: 1px solid #bababa;
    padding: 10px 0 0;
    line-height:21px;
    text-align: left;
}

.bar_panel {
    margin-left: 20px;
    text-align: left;
}

.head-container small {
    margin-left: 20px;
    color: #777;
}
.promoimage {
    width: 100%;
    height: 300px;
    background: url(/img/loading.gif) 50% no-repeat;
}
/********** < Navigation */
.nav-container { 
    width:100%; 
    float:left;  
    position:relative; 
    border-bottom: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
}
.nav-container ul {
    display: -webkit-flex; 
    display: flex;
    padding-left: 0;
    list-style: none; 
    margin: 0 auto;
}
.nav-container a {
    color: #404040;
    float: left;
    font-size: 11px;
    font-weight: normal;
    padding: 12px 12px 12px 12px;
    text-transform: uppercase;
    text-decoration: none;    
    display: block;    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.nav-container li a:hover {
    background: #BCA474;
}
.nav-container li.active a{
    text-decoration: underline;
    /*font-weight: bold;*/ 
    color: rgb(0,0,0);
}

/********** < Navigation for mobile */

.nav-mobile {
    background: #ffffff;
    position: absolute;
    width: 240px;
    height: 100%;
    left: -240px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.nav-mobile ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-mobile ul li {
    margin: 0;
}
.nav-mobile ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: #404040;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #BABABA;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
.nav-mobile ul li:hover a {
    background: #BCA474;
}

.nav-mobile ul li.active a{
    text-decoration: underline;
    /*font-weight: bold;*/ 
    color: rgb(0,0,0);
}

.header .sidebar-toggle {
    background: #BCA474;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
}
.header .sidebar-toggle .bar{
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}
.header .sidebar-toggle .bar:last-child{
     margin-bottom: 0;
}

/* Customize container */
.container {
    position: relative;
    padding: 20px;
    width: auto;
    max-width: 970px;
    min-height: 960px;
    background: #f8f8f8; 
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    margin-bottom: 20px;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out; 
}

.container.open-sidebar {
    left: 240px;
}

/* Custom page footer */
footer.footer {
    padding: 0px;
    color: #777;
    width: 100%;
    display: table;

    margin-top: 10px; 
    font-size: 12px;
}

.f-fix {
    border-top: 1px solid #BABABA;
    float: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
}
  
.frame {
    background: #f8f8f8;
    left: 430px;
    position: relative;
    top: -25px;
    width: 100px;
}

.carousel-caption h3, .carousel-caption p {
    text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, 
        black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px, 
        black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, 
        black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px;
}

/* Footer =================================================================== */
.footer h3 {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.25;
    margin-top: 0;
    margin-bottom: .45em;
}

.footer ul {
    clear: both;
    float: left;
    height: 100px;
    position: relative;
}

.footer li {
    margin-top: 0px;
    height: 70px;
    padding-top: 0px;
    text-align: left;
    display: inline;
    float: left;
    width: 310px;
}

.footer-copy { 
    padding-top:25px; 
    padding-bottom:10px; 
}
.footer-copy address {
    color: #404040;
    font-style: normal;
    height: 20px;
    line-height: 1.35;
    padding: 0px 0px 5px 0px;
    font-size:10px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.container-narrow > hr {
  margin: 10px 0;
}

.img-card {
    -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.75);
    border-radius: 16px;
}

#toTop {
    bottom: 0;
    cursor: pointer;
    display: none;
    font-size: 150%;
    position: fixed;
    bottom:30px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
}

.livelist ol { 
    /* Идентифицируем счетчик и даем ему имя li. 
    Значение счетчика не указано - по умолчанию оно равно 0 */ 
    counter-reset: number;    
    margin-left: 0;
    padding-left: 5px;
    color: rgb(100,100,100);
}
.livelist li {
    /* убираем стандартную нумерацию */
    list-style: none;    
    position: relative;
    padding-left: 3em;
    margin: 0.45em 0;
    line-height: 1.8em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.livelist li:before {
    /* Определяем элемент, который будет нумероваться — li. 
    Псевдоэлемент before указывает, что содержимое, вставляемое при помощи 
    свойства content, будет располагаться перед пунктами списка. 
    Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
    counter-increment: number; 
    /* С помощью свойства content выводится номер пункта списка. 
    counters() означает, что генерируемый текст представляет собой значения 
    всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую 
    точку между цифрами, а точка с пробелом добавляется перед 
    содержимым каждого пункта списка 
    content: counters(number, ".") ". ";*/
    
    content: counter(number);
    position: absolute;
    top: 0;
    left: 0;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    padding: 0px;
    color: #404040;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #BABABA;
}
.livelist li::after {
    position: absolute;
    top: 2.1em;
    left: 0.9em;
    width: 2px;
    height: calc(100% - 2em);
    content: '';
    background-color: rgb(203, 203, 203);
    z-index: 0;
    color: #fff;
}
.livelist li:hover {
    color: rgb(0,0,0);    
}
.livelist li:hover:before {
    background-color: #BCA474;
}
.livelist li:hover:after {
    background-color: #BCA474
}

/* Оформление таблицы */
.livetable tr {
    color: rgb(100,100,100);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.livetable tr:before {
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.livetable tr:hover {
    color: rgb(0,0,0);
}

/* Оформление каталога */
.catalog_block {
    margin: 0 -20px 0 0;
    padding: 10px 0 30px 0;
}

.catalog_list {
    list-style: none;
    width: 100%;
}

.cat_l_item {
    position: relative;
    float: left;
    width: 33%;
    padding: 0 20px 20px 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cat_l_item a {
    text-decoration:none;
}

.cat_l_i_wrap {
    background: #fff;
    position: relative;
    width: 100%;
    height: 357px;
    border: 1px solid #bababa;
    border-radius: 3px;
    overflow: visible;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.cat_l_i_wrap:hover {
    border-color: #8a898a;
    box-shadow: 0 0 5px 2px rgba(153,153,153,0.7);
}

.cat_l_item_id {
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: left;
    font: 12px Arial, sans-serif;
    color: #404040;
}

.cat_l_item_instock {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: right;
    font: 12px Arial, sans-serif;
    color: #404040;
}

.instock_yes {
    color: green;
}

.cat_l_item_img {
    position: relative;
    width: 240px;
    height: 200px;
    padding: 40px 5px 5px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;    
}

.cat_l_item_img img {
    object-fit: cover;
    height: 150px;
    /*width: 180px;*/
    max-width: 180px;
    margin: 0;    
    vertical-align: middle;
    background: url(/img/loading.gif) 50% no-repeat;
}

.cat_l_item_slider {
    position: relative;
    height: 5px;
    padding: 2px 0;
    overflow: hidden;
    margin: 0 0 3px;
}

.cat_l_item_hline {
    display: table-cell;
    height: 100px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    padding:0 5px;
    line-height: 18px;
    width: 200px;
}

a .cat_l_item_hline{
    position: relative;  
    display: block;
    font: 14px Calibri, sans-serif;
    color: #000;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cat_l_item_wp_price {
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-align: left;
    font: 13px Arial, sans-serif;
    color: #000;
}
.cat_l_item_price {
    font-size: 20px;
    font-weight: bold;
}

.cat_l_item_basket {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
}

.cat_item_basket {
    position: absolute;
    right: 20px;
    top: 80px;
    width: 120px;
    text-align: right;
}

.cat_item_img_full {
    position: relative;
    padding: 40px 5px 5px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.cat_item_img_full img {
    object-fit: cover;
    height: 250px;
    margin: 0;
    vertical-align: middle;
}