.catalog_sidebar {
    background: white;
    border-radius: 0px;
    padding: 10px 0 10px 0;
}

.catalog_sidebar_node {
    display: block;
    padding: 4px 0 4px 14px;
    min-height: 25px;
    text-align: -webkit-match-parent;
}

.catalog_sidebar_node > a{
    position: relative;  
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    /*padding-left: 20px;*/
    padding-right: 40px;
}
.catalog_sidebar_node > a::before, .catalog_sidebar_node > a::after {
    /* arrow icon in CSS - for element with nested unordered lists */
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    height: 2px;
    width: 10px;
    background: #ffffff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.catalog_sidebar_node > a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.catalog_sidebar_node > a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1024px) {
  .catalog_sidebar_node > a::before, .catalog_sidebar_node > a::after {
    background: #b3b3b3;
  }
}
.catalog_sidebar_node > a {
  
}
.catalog_sidebar_node > a::before, .catalog_sidebar_node > a::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: 9px 50%;
  -o-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}

.Container {
    padding: 0;
    margin: 0;
}

        .Container .popover {
            width: 400px;
            -webkit-border-top-left-radius: 0px;
            -webkit-border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            overflow: hidden;
        }
        .Container .popover-content {
            text-align: center;
        }
        .Container .popover-content img {
            height: 212px;
            max-width: 250px;
        }

.Container li {
    list-style-type: none;
}


/* indent for all tree children excepts root */
.Node {
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 18px;
    zoom: 1;
}

.IsRoot {
    margin-left: 0;
}


/* left vertical line (grid) for all nodes */
.IsLast {
    background-repeat : no-repeat;
}

.ExpandOpen .Expand {
    background-image: url(/css/tree/minus.gif);
}

/* closed is higher priority than open */
.ExpandClosed .Expand {
    background-image: url(/css/tree/plus.gif);
}

.Content {
    min-height: 18px;
    margin-left:18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.ExpandOpen .Container {
    display: block;
}

.ExpandClosed .Container {
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer;
}
.ExpandLeaf .Expand {
    cursor: auto;
}

.ExpandLoading   {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(/css/tree/loading.gif);
}
